#navbar{
    display: flex;
    gap: 40%;
}
.mininavbar{
    display: flex;
    gap: 15%;
}
#button{
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 35px;
}
.companylogos{
    display: flex;
    width: 50px;
    height: 45px;
    gap: 80%;
    margin-left: 28%;
}
.socialhandles{
    width: 20px;
    height: 30px;
    display: flex;
    gap: 3%;
}
.ladywithbook{
    height: 500px;
    width: 500px;
    border-radius: 90%;      
}
.place{
    position: relative;
    display: inline-block;
    width: 185px;
}
.place input{
    border: 1px solid;
    border-radius: 30px;
    padding-right: 40px;
    padding: 15%;
    width: 920px;    
}
.place button{
    position: absolute;
    margin-left: 810px;
    padding: 8%;
    top: 25%;
    width: 70%;
    border: none;
    background-color: rgb(113,182,176);
    border-radius: 40px;
}
.landingpage{
    display: flex;
    gap: 25%;
    font-size: x-large;
    margin-top: 5%;
}
#body{
    background-color: white;
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 5%;
}
h3{
    text-align: center;
}
#text{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: burlywood;
}
@media screen and (max-width: 768px){
    #navbar{
      gap: 3%;      
    }
    #mininavbar{
      flex-wrap: wrap;
      gap: 3%;
    }
    #button{
        background-color: cornflowerblue;
        color: white;
        border-radius: 20px;
        width: 70px;
        height: 20px;
    }
    .ladywithbook{
        height: 150px;
        width: 150px;
        border-radius: 90%;      
    }
    .landingpage{
        display: flex;
        gap: 25%;
        font-size: small;
        margin-top: 5%;
    }
    .img{
        width: 20px;
        height: 25px;
        flex-wrap: wrap;
    }
    .lady{
        height: 50px;
        width: 50px;
        border-radius: 90%;    
    }
    .socialhandles{
        
    }
    .book{
        flex-wrap: wrap;
        gap: 20%;
        font-size: 30%;
    }
    #form{
        background-color: white;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    .trust{
        text-align: center;
    }
    .companylogos{
        gap: 19%;
    }
    .place{
        position: relative;
        display: inline-block;
        width: 80px;
    }
    .place input{
        border: 1px solid;
        border-radius: 30px;
        padding-right: 40px;
        padding: 15%;
        width: 170px;    
    }
    .place button{
        position: absolute;
        margin-left: 15px;
        padding: 8%;
        top: 25%;
        width: 70%;
        border: none;
        background-color: rgb(113,182,176);
        border-radius: 40px;
    }

}
    
